#container {
    overflow-x:hidden;
    width:100%;
  }
  #container-profile {
    overflow-x:hidden;
    width:100%;
  }
[id*="toresize"] {
    width: 300px;
    padding-top:200px ;
  }
  [id*="moresm"] {
    width: 100%;
  }
  [id*="container-profile"] {
    width: 100%;
  }
  [id*="items-table"] {
    visibility: hidden;
    max-height: 0;
    max-width: 0;
    }
  @media only screen and (min-width: 720px) {
    /* For tablets: */
    #toresize {
        width: 75%;
        padding-top:150px ;
    }
    #moresm {
      width: 40%;
   }
   #container-profile{
    width: 100%;
  }
  #items-table{
    visibility: visible;
    max-height: 100%;
    max-width: 100%;
  }
  }
  @media only screen and (min-width: 1030px) {
    /* For desktop: */
   #toresize {
       width: 450px;
       padding-top:100px ;
    }
    #moresm {
      width: 50%;
   }
   #container-profile{
     width: 50%;
   }
   #items-table{
    visibility: visible;
    max-height: 100%;
    max-width: 100%;
  }
  }
